@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Noto+Sans+KR:wght@500&family=Song+Myung&display=swap');
*{
    background-color:#E8F0F2;
}
header{
    text-align:center;
    border:10px solid white;
    box-sizing:content-box;
    width:800px;
    position:relative;
    margin-left:220px;
    font-family: 'Castoro', serif;
}
dl{
    margin-left:50px;
    font-family: 'Noto Sans KR', sans-serif;
}
h1{
    color:gray;
    font-weight:600;
    font-size:70px;
    text-shadow: #FC0 1px 0 10px;
}
img{
    float:left;
    margin-right:40px;
}
dd{
    margin:0;
    font-size:20px;
}

dt{
    font-size:30px;
    font-weight:600;
    clear:both;
    padding-right:20px;
}
div{
    float:center;
}
p{
    font-size:20px;
}
ul li{
    font-size:20px;
    margin-bottom:10px;
}



